.font-size{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    
}
p{
    text-align: justify;
}
.span-color{
    color: rgb(17, 17, 200);
}
.width{
    width: 50%;
}
.width img{
    width: 90%;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.pad{
    padding-left: 20px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(227, 176, 81), rgb(152, 185, 32));
    padding: 10px 40px;
    border-radius: 5px;
    
    
}
body{
    margin: 0%;
}
.dream Big{
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}